Repository portfolio-insights/market-service: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, go fmt

.lintstagedrc:

{
  "**/*.{js,jsx,html,css,json,md,yaml,toml}": "npm run format",
  "**/*.go": "go fmt"
}

chore: run npm install
  package-lock.json
Due: npm run format

chore: remove backend references in deployment workflow
  .github/workflows/backend.yaml
  .github/workflows/microservice.yaml
Due: npm run format

chore: update names of secrets
  .github/workflows/microservice.yaml
Due: npm run format

chore: create .env.example
  .env.example
Due: none

chore: move microservice server startup logic from deployment workflow to Shell script
  .github/workflows/microservice.yaml
  scripts/deploy.sh
Due: npm run format

chore: create teardown.sh
  scripts/teardown.sh
Due: none

chore: add .dev directory to project
  .gitignore
Due: none

docs: add license
  LICENSE.txt
Due: none

feat: add network timeout error to /health route
  main.go
Due: go fmt

minor: update network timeout error time for /health route
  main.go
Due: go fmt

feat: add network timeout error to /stocks endpoint
  main.go
Due: go fmt

feat: add error handling to /stocks endpoint for successful request with no stock data returned
  main.go
Due: go fmt

fix: update error handling in /check-alert checkpoint for no price data found to return a proper JSON object
  main.go
Due: go fmt

feat: scaffold utils.go and RespondIfError function
  utils.go
Due: go fmt

refactor: pull condition parameter out of error handling function
  utils.go
Due: go fmt

minor: rename detail field in response object to message
  utils.go
Due: go fmt

refactor: refactor error handling to use new GenerateError function
  main.go
Due: go fmt

feat: add network timeout error to /check-alert route
  main.go
Due: go fmt

fix: update deploy script to account for new utils.go file
  scripts/deploy.sh
Due: none

chore: set deploy script to exit if error is encountered
  scripts/deploy.sh
Due: none
