Repository portfolio-insights/market-service: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, go fmt

chore: add custom error message to deployment script
  scripts/deploy.sh
Due: none

chore: create local dev environment setup script
  scripts/local-dev-setup.sh
Due: none

chore: create .infra folder with instructions for first-time EC2 setup to deploy microservice
  .infra/SETUP.md
  .infra/user_data.sh
Due: npm run format

chore: move core project files to new src directory
  scripts/deploy.sh
  src/main.go
  src/utils.go
Due: go fmt

feat: implement deletion of microservice executable on teardown
  scripts/teardown.sh
Due: none

chore: delete old microservice log file as part of new deployment
  scripts/deploy.sh
Due: none

chore: implement health check in deployment script
  scripts/deploy.sh
Due: none

minor: adjust spacing of health check success/failure message
  scripts/deploy.sh
Due: none

docs: create README.md
  README.md
Due: npm run format

fix: fix health check to account for delay in server startup
  scripts/deploy.sh
Due: none

chore: add market-service to .gitignore
  .gitignore
Due: none

chore: implement force replace of local repo with GitHub main branch in EC2 deployment workflow
  .github/workflows/microservice.yaml
Due: npm run format

feat: implement expanded logging
  src/main.go
Due: go fmt

minor: fix typo in completion message
  .infra/user_data.sh
Due: none

chore: schedule deployment workflow to run every day at midnight
  .github/workflows/microservice.yaml
Due: npm run format

chore: update deployment workflow to run thrice daily instead of once
  .github/workflows/microservice.yaml
Due: npm run format

Path conditions:
  npm run format: any of: **/*.{js,jsx,html,css,json,md,yaml,toml}
  go fmt: any of: **/*.go
